{% extends 'base.html' %}

{% block content %}

<div class="relative flex min-h-screen flex-col items-center justify-center overflow-hidden py-6 sm:py-12 bg-red-300 h-screen">
    <div class="max-w-xl px-5 text-center">
        <h2 class="mb-2 text-4xl font-bold text-gray-800">Merci pour votre commande ! Nous vous confirmons que votre numéro de commande est le 114626782882. </h2>
        <p class="mb-2 text-lg text-gray-500">Toutes les informations relatives à votre commande, y compris le suivi de livraison, vous seront envoyées par e-mail. Si vous avez des questions, des réclamations ou si vous avez besoin de renseignements supplémentaires concernant votre commande, n'hésitez pas à nous contacter. Notre équipe est là pour vous aider et vous fournir toute l'assistance nécessaire. Nous vous remercions encore une fois pour votre confiance et nous nous engageons à vous offrir une expérience client exceptionnelle. <span class="font-medium text-indigo-500">mail@yourdomain.com</span>.</p>
        <a href="/" class="mt-3 inline-block w-96 rounded bg-indigo-600 px-5 py-3 font-medium text-white shadow-md hover:bg-indigo-700 transition-colors duration-300 ease-in-out">Continuez votre shopping →</a>
    </div>
</div>

{% endblock %}